*{
	box-sizing: border-box;
}

h1{
	margin-bottom: 30px;
	text-align: center;
}
div{
	position: relative;
}
h2{ 
	position: absolute;
	top: 0px;
	left: 65%;
	font-family: fantasy;
	border: 1px solid black;
	width: 25%;
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
}
h2.chicken{
	background-color: #c96a74;

}
h2.beef{
	background-color: #f4bec4;
}
h2.sushi{
	background-color: #eff4be;
}
p
{
	padding: 50px 50px 50px 50px;
	font-family: cursive;
	font-size: 24px;
	color: #2d0206;
	background-color:#65e8f7;
	border: 1px solid green;
	width: 90%;
	margin: 20px;
	box-sizing: border-box;
	
}

@media (min-width: 992px){
              .col-lg-4
	{
		float: left;
	}
	
	.col-lg-4{
		width: 33%;
	}	
}
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12
	{
		float: left;
	}
	
	.col-md-6{
		width: 50%;
	}
	
	.col-md-12{
		width: 100%;
	}	

}
@media (max-width: 767px){
	.col-sm-12
	{
		float: left;
	}
	.col-sm-12{
		width: 100%;
	}
}